{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
  <h3>Home</h3>
  <!-- Popular Movie Section -->
  <h3>Popular Movies </h3>
  <ul>
      {{ macro.displayMovieList(popular)}}
  </ul>


  <!-- Upcoming Movie Section -->
  <h3>Upcoming Movies </h3>
  <ul>
      {{ macro.displayMovieList(upcoming) }}
  </ul>


  <!-- Now showing Movie Section -->
  <h3>Now showing Movies </h3>
  <ul>
      {{ macro.displayMovieList(now_playing) }}
  </ul>
{% endblock %}
